<header class="site-header" data-header>
  <div class="container header-container">

    <a class="brand" href="{{ '/' | relative_url }}" aria-label="Página inicial">
  <img src="{{ '/assets/img/jorgemaialogomarcasemfundo.png' | relative_url }}" alt="Jorge Maia" class="logo">
</a>

    <button class="nav-toggle" data-nav-toggle aria-label="Abrir menu">
      ☰
    </button>

    <nav class="site-nav" data-nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/sobre/' | relative_url }}">Sobre</a>
      <a href="{{ '/projetos/' | relative_url }}">Projetos</a>
      <a href="{{ '/podcast/' | relative_url }}">JorgeCast</a>
      <a href="{{ '/youtube/' | relative_url }}">YouTube</a>
      <a href="{{ '/atividades/' | relative_url }}">Agenda</a>
      <a href="{{ '/artigos/' | relative_url }}">Artigos</a>
      <a href="{{ '/artigos-tecnicos/' | relative_url }}">Técnicos</a>
      <a href="{{ '/premios/' | relative_url }}">Prêmios</a>

      <a class="nav-cta" href="{{ '/contato/' | relative_url }}">
        Contato
      </a>
    </nav>

  </div>
</header>
